
html{height:100vh;
}
body {
    overflow-x: hidden;
    
  background-image: url('jkia.png'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center center; 

}


.tt1{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.tt2{
    color: rgb(253, 250, 250);
    font-family: 'Times New Roman', Times, serif;

}

.body {
    
    background-color: #060505;
}
.class1{
    border: 2px solid rgb(7, 7, 7);
    border-radius: 10px;
    padding: 10px;
    background-color: #131212;
    opacity: 0.9;
}

.styled-table {
   
    background-color: #131212;

}

.tt4{
    color: rgb(251, 249, 249);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-origin: padding-box;
    margin-left: 2px;
    padding-left: 2px;
}

.social-links-images {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between icons */
    margin-top: 20px; /* Space above the icons */
}

.topnav {
  overflow: hidden;
  position: relative;
    top: -10px;
    right: -200px; 
    font-size: 30px; 
    text-decoration-color: beige;

}

.social-links-images img {
    width: 30px; /* Set the width of the icons */
    height: 30px; /* Set the height of the icons */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}
.te{
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.fleet-page-content{
    max-width: 1200px;
    padding:20px;
}

